.box {
  position: relative;
  min-height: 200px;
  padding: 20px;
  line-height: 1.5;
  background-color: #f1f1f1;
  border-radius: 12px;
  &--green {
    background-color: #99d299;
  }
  &--blue {
    background-color: #79aefd;
  }

  img {
    max-width: 100%;
  }
}
